<div class="site-container index">

  <div class="logo">

  </div>


  <div class="nav">

  </div>

  <div class="header">
<pre>
  /\
 /__\   † R Î N Î † Y
/____\

</pre>
  </div>

  <div class="content">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <span class="title">Invalid Key!</span>
    <p>Your key isn't valid.  Sorry.



</div>